body{
    background-color: bisque;
}
h4.name{
    color:aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: 100;
    border: 3px solid black;
}